body {
    background-color: #d7eb5a;
    font-family: "Courier New", Courier, monospace;
}

.contenido {
    border: 1px #000000;
    background-color: #fefce0;
}

.boton {
    background-color: #ffe3ae;
}

.boxed{
    border: 1px solid black ;
    background-color: #f7fade;
    text-align: center;
    position: fixed;
    bottom: 60%;
    right: 30%;
    width: 500px;
}

