body {
    background-color: #d7eb5a;
    font-family: "Courier New", Courier, monospace;
}
.boton {
    background-color: #ffe3ae;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    font-size:15px;
    padding: 5px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid gray;
}

.boton:hover {
    background-color: goldenrod;
}
label{
    display: inline-block;
    width: 110;
    text-align: left;
}
.formulario{
    margin: 20 100;
    width: 50%;
    display: block;
    background-color: #f7fade;
    line-height: 2em;
    align-items: center;
    bottom: 5%;
    right: 70%;
    padding-top: 30px;
    margin-top:120px;
}

.contenedor{
    display: flex;
    width: 80%;
    text-align: center;
    position: flex;
    height: 350px;
    margin-top: 100px;
    margin-left: 150px;
   
}

img {
    width: 500px;
    height: 350px;
}