body {
    background-color: #d7eb5a;
    font-family: "Courier New", Courier, monospace;
}

.boton {
    background-color: #ffe3ae;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    font-size:15px;
    padding: 8px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid gray;
}
.boton:hover {
    background-color: goldenrod;
}
.formulario {
    margin: 0 auto;
    display: block;
}
input[type=text], textarea {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    border-style: solid;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f7fade;
    height:30px;
}
.boxedreg{
    border: 1px solid black ;
    background-color: #fefce0;
    text-align: center;   
    position: fixed;
    top: 15%;
    right: 25%;
    width: 700px;
    height: 350px;
}
.digito{
    width: 25px;
    font-size: 25px;
}