*{
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d7eb5a;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
}

header {
    width:100%;
    background-color: #f7fade;
    height: 150px;
    text-align: center;
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    /* position: fixed;  Hacemos que la cabecera tenga una posición fija */
}

#wrapper {
    width:100%;
    height:150px;
    margin:auto;
    display: flex;
}

#column1 {
    width:25%;    
    height:150px;
    float:left;
    align-items: center;
}
#column2 {
    width:50%;    
    height:150px;
    float:left;
    line-height: 150px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

#column2 h1{
    font-weight: bold;
}

#column3 {
    width:25%;    
    height:150px;
    align-items: center;
    float:left;
}

#gender{
    position:absolute;
    width:150px;
    right:100px;
    top:120px;
}

/*
Grid layout para las pestañas
*/
.grid-container {
    display: grid;    
    grid-gap: 0px;
    padding: 0px;
}

.two-cols {
    grid-template-columns: auto auto;
}

.three-cols {
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: #f7fade;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}

.grid-item:hover {
    background-color: lightgrey;
}

.active {
    background-color: grey;
    font-weight: bold;
}
