{% extends "layout.html" %}
{% block content %}
<div class="boxedForm" style="height: 450px;">
    <form method="POST" class="formulario" action="{{ url_for('nuevaContra') }}">
        <h1>Nueva Contraseña</h1>
        <br>
        {{ form.hidden_tag() }}

        {{ form.contranueva.label }}
        {{ form.contranueva(placeholder="Restablece tu contraseña", size=30) }}
        <br><br>
        <p style="font-size: 12px;"><b>Contraseña: Mínimo 8 caracteres, un número, una mayúscula, una minúscula y un caractér especial</b></p>
        <br>
        {{ form.contranuevaconf.label }}
        {{ form.contranuevaconf(placeholder="Confirma tu contraseña", size=30) }}
        <br><br><br>

        {{ form.restablecer(class_="boton") }}
    </form>
    <section class="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="error-msg">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
</div>
{% endblock %}




<!--<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MinTICstagram | Nueva Contraseña </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/estaticas.css') }}">
    <style>
        label {
            display: inline-block;
            width: 200px
        }

        .formulario {
            margin: 15%;
            display: block;
        }

    </style>
</head>
<body>
    <div class="boxedForm " style="height: 450px;">
        <form method="POST" class="formulario" action="{{ url_for('nuevaContra') }}">
            <h1 style="text-align: center;">Nueva Contraseña</h1>
            <br>
            <label for="nuevacontra"> Elige tu nueva contraseña</label>
            <input type="password" size=30 id="nuevacontra"> 
            <p style="font-size: 12px; color: grey;">Tu contraseña debe contener por lo menos un número y un caracter especial</p>
            <br>
            <label for="confirmacontra"> Confirma tu nueva contraseña</label>
            <input type="password" size=30 id="confirmacontra">
            <br>
            <br>
            <br>
            
            <div class="contenedorBoton">
                <input class="boton" type="submit" value="Reestablecer Contraseña" style="width: 300px;">
            </div>
        </form>
    </div>
</body>
</html>
