<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MinTICstagram | Nueva Contraseña </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/estaticas.css') }}">
    <style>
        label {
            display: inline-block;
            width: 200px
        }

        .formulario {
            margin: 15%;
            display: block;
        }

    </style>
</head>
<body>
    <div class="boxedForm " style="height: 450px;">
        <form class="formulario" action="reestablecimientoExitoso.html">
            <h1 style="text-align: center;">Nueva Contraseña</h1>
            <br>
            <label for="nuevacontra"> Elige tu nueva contraseña</label>
            <input type="password" size=30 id="nuevacontra"> 
            <p style="font-size: 12px; color: grey;">Tu contraseña debe contener por lo menos un número y un caracter especial</p>
            <br>
            <label for="confirmacontra"> Confirma tu nueva contraseña</label>
            <input type="password" size=30 id="confirmacontra">
            <br>
            <br>
            <br>
            
            <div class="contenedorBoton">
                <input class="botonNewImg" type="submit" value="Reestablecer Contraseña" style="width: 300px;">
            </div>
        </form>
    </div>
</body>
</html>