<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MinTICstagram | Reestablecer Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/nuevcontra.css') }}">

</head>
<body>
    <section class="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="error-msg">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section> 
    <div class="boxedreg">
        <form method="POST" class="formulario" action="{{ url_for('reestablecerContra') }}">
            <br>
            <h1>Reestablecer Contraseña</h1>
            <br>
            <input id ="correoRes" name="correoRes" type="text" size=30 placeholder="Ingresa tu correo electrónico" >
            <input type="submit" value="Restablecer contraseña" class="boton">
            <br>
            <br></br>
            <a href="{{ url_for('ingreso') }}" style="font-size:14px"> ¿Quieres iniciar sesion?</a>    
        </form>
    </div>
</body>
</html>
