<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MinTICstagram | Reestablecer Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/nuevcontra.css') }}">

</head>
<body>
    <div class="boxedreg">
        <form class="formulario" action="activacion.html">
            <h1>Reestablecer Contraseña</h1>
            <br>
            <input type="text" size=30 placeholder="Ingresa tu correo electrónico" >
            <input type="submit" value="Enviar Código" class="boton">
            <br>    
            <p>Ingresa el código</p>
            <br>
            <input class="digito" type="text" size=1 maxlength=1 >
            <input class="digito" type="text" size=1 maxlength=1>
            <input class="digito" type="text" size=1 maxlength=1>
            <input class="digito" type="text" size=1 maxlength=1>
            <input class="digito" type="text" size=1 maxlength=1>    
            <br>
            <br>
            <input type="submit" value="Restablecer" class="boton">
        </form>
    </div>
</body>
</html>