<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MinTICstagram | Reestablecer Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/nuevcontra.css') }}">

</head>
<body>
    <div class="boxedreg">
        <form method="POST" class="formulario" action="{{ url_for('reestablecerContra') }}">
            <br>
            <h1>Reestablecer Contraseña</h1>
            <br>
            <input id ="correoRes" name="correoRes" type="text" size=30 placeholder="Ingresa tu correo electrónico" >
            <input type="submit" value="Restablecer contraseña" class="boton">
            <br>    
        </form>
    </div>
</body>
</html>
