<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MinTICstagram | Activación Exitosa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/estaticas.css') }}">
</head>
<body>
    <div class="boxedres">
        <h1>¡Contraseña restaurada exitosamente!</h1>
        <p>Tu contraseña ha sido restaurada con éxito, ya puedes seguir disfrutando de Minticstagram</p><br>
        <form method="get" action="ingreso.html">
        <button class="botonNewImg" type="submit">Ingresar
    </form>
    </div>
    
</body>
</html>