{% extends "layout.html" %}
{% block content %}
<div class="boxedreg">

    <form method="POST" class="formulario" action="{{ url_for('registro') }}">
        <h1>Registro de Usuario</h1>
        <br><br>
        {{ form.hidden_tag() }}
    
        {{ form.nombre.label }}
        {{ form.nombre(placeholder="Elige tu nombre de usuario", size=30) }}
        <br><br>
        {{ form.correo.label }}
        {{ form.correo(placeholder="Ingresa tu correo electrónico", size=30) }}
        <br><br>
        {{ form.contraseña.label }}
        {{ form.contraseña(placeholder="Elige tu contraseña", size=30) }}
        <br>
        <p><b>Contraseña: Mínimo 8 caracteres, un número, una mayúscula, una minúscula y un caractér especial</b></p>
        {{ form.conf_contraseña.label }}
        {{ form.conf_contraseña(placeholder="Confirma tu contraseña", size=30) }}
        <br><br>
        <a href="{{ url_for('ingreso') }}" style="font-size:14px"> ¿Ya tienes una cuenta? Ingresa</a>
        <br><br>
        
        {{ form.registrar(class_="boton") }}
        
    
    </form>
    <section class="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="error-msg">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
</div>
{% endblock %}
