body {
    background-color: #d7eb5a;
    font-family: "Courier New", Courier, monospace;
}
header {
    width: 100%;
    background-color: #f7fade;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}
form{
    display: block;
}
label {
    width:20%;
    display: inline-block;
}
input[type=text], textarea {
    display: block;
    font-family: "Courier New", Courier, monospace;
    border-style: solid;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f7fade;
    width:100%;
    height:30px;
}
input[type=submit]{
    width:50%;
    cursor: pointer;
    text-align: center;
}
textarea{
    resize: none;
    vertical-align: top;
}
#wrapperNewImg {
    width:60%;
    margin:auto;
    margin: 0;  
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#column1NewImg {
    width:60%;    
    float:left;
    text-align: center;
    
}
#column2NewImg {
    width:40%;    
    float:left;
    line-height: 50px;
}
.contenedorBoton{
    text-align: center;
    align-items: center;
}

.boton {
    background-color: #ffe3ae;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    font-size:15px;
    padding: 8px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid gray;
}

.boton:hover {
    background-color: goldenrod;
}
